.header {
  display: flex;
  justify-content: space-between;
  padding: 40px 0;
  align-self: start;
  margin: 0;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;

  .logo {
    min-height: 32px;
  }

  .navbar {
    display: flex;
    gap: 36px;
  }
}
